/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap');

html{
  height: 100%;
  background-color: #fff;
  /*background-image: linear-gradient(180deg, rgb(68, 61, 114) 10%, rgb(173, 76, 230) 80%);*/
  background-attachment: fixed;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  /*background-image: linear-gradient(180deg, rgb(68, 61, 114) 10%, rgb(173, 76, 230) 80%);*/
  background-attachment: fixed;
  color: #757067;
  background-color: #ffffff;
}
body{
  overflow: hidden;
}
label{
  color: #2c2c2c;
  user-select: none;
}
button{
  outline: none;
}

::placeholder{
  color: #cccccccc;
}
:-moz-placeholder{
  color: #cccccccc;
}
::selection{
  background: #ff6486;
  color: #fff;
}
::-moz-selection{
  background: #ff6486;
  color: #fff;
}
::-webkit-scrollbar{
  width: 7.5px;
  height: 7.5px;
}
::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb{
  background-image: linear-gradient(180deg, #ff5278 5%, #ff7575 75%);
}
::-webkit-scrollbar-corner{
  background-color: #ff5278;
}